.control-panel {
  @include respond(phone-lg) {
    flex-direction: column-reverse;
  }

  &__controls {
    min-width: 46rem;

    @include respond(phone) {
      min-width: unset;
    }

    .searchbar {
      margin-bottom: 1rem;

      &__heading {
        display: flex;
        align-items: center;
      }

      &__label {
        padding-left: 1rem;
        font-style: italic;
        font-size: $control-panel-input-label-font-size;
        margin-right: 0.5rem;
      }
    }
  }

  &__title {
    @include respond(phone-lg) {
      justify-content: space-between;
    }
  }
}
