// Remove button from search bar
button[class*="searchButton"] {
  display: none !important;
}

.home {
  padding-top: $header-height;
  margin-top: 4rem;

  &__recent-outages {
    gap: 16px;

    &__map-outer {
      flex: 1;
    }

    &__twitter-outer {
      flex: 1;
      max-width: 320px;

      .twitter-embed {
        border: 1px solid #e2e2ea;
        height: 590px;
        overflow: auto;
      }
      font-size: 14px;
    }

    .mt-post-header-date {
      font-size: 9px;
    }

    .map__content {
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: $box-shadow;
      width: 100%;
      height: 590px;
    }

    @include respond(screen-870) {
      flex-direction: column;

      .map__content {
        height: 400px;
      }

      &__twitter-outer {
        margin-top: 2rem;
        max-width: unset;
      }
    }
  }

  &__about {
    width: 100%;
    padding: 4rem;
    border-radius: 0.5rem;
    color: $color-white;
    background: $color-primary;
    // background: -webkit-linear-gradient(to right, #021b79, #06529f);
    // background: linear-gradient(to right, #021b79, #06529f);

    text-align: center;

    &-cont {
      max-width: 1024px;
      margin: 0 auto;
    }
  }

  &__methodology {
    background: #fff;
    border-radius: 0.5rem;
    padding: 4rem;
    border: 1px solid #e2e2ea;
    // box-shadow: 0 2px 2px #9f9d9d;

    &__options {
      display: flex;
      gap: 12px;
      align-items: stretch;

      &__card {
        flex: 1;
        padding: 1.5rem;
        border: 1px solid #e2e2ea;
        border-radius: 0.5rem;
      }

      @include respond(screen-870) {
        flex-direction: column;
      }
    }
  }

  .partners-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    @include respond(screen-870) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone-md) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// Styles for partner card

.partner-card {
  padding: 1.5rem;
  background-color: #fff;
  border: 1px solid #e2e2ea;
  border-radius: 0.5rem;

  &__logo {
    width: 100%;
    height: 120px;
    text-align: center;

    img {
      margin: 0 auto;
      max-width: 200px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
