.topo-map {
  position: relative;

  &__tooltip {
    display: none;
    background-color: $color-background-white;
    border-radius: 3px;
    box-shadow: $box-shadow;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 3rem;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &-visible {
      display: flex;
    }
  }

  &__click-tooltip-anchor {
    position: absolute;
    z-index: 1200;
    transform: translate(-50%, -110%);
  }

  &__click-tooltip-trigger {
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    opacity: 0;
    background: transparent;
  }

  &__click-tooltip-content {
    p {
      margin-bottom: 0.5rem;
      font-weight: 700;
    }
  }
}
