.markupStudioModal {
  .markupPanelButton {
    border: 0px !important;
    border-color: none !important;
    box-shadow: none !important;
  }

  .markupIntroStepBadge {
    background-color: #8c8c8c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    color: #fff;
  }

  .markupMobileLandscapeHint {
    display: none;
    margin-top: 2px;
    /* color: #6b7280; */
    color: #1e1e1e;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .markupStudioModal .markupMobileLandscapeHint {
    display: block;
  }
}
